{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Homepage Teatro</title>
    <link rel="stylesheet" href="{% static 'tecs_app/css/style.css' %}">
</head>
<body>
    <h1>Benvenuti al Teatro</h1>
    <p>
        Il teatro è un'arte e un'istituzione complessa che comprende più significati: 
        è il luogo fisico dove si svolgono spettacoli, un genere letterario di testi destinati alla scena, 
        l'evento stesso della rappresentazione dal vivo e una forma di comunicazione tra attori e pubblico.
    </p>

    <script src="{% static 'tecs_app/js/script.js' %}"></script>
</body>
</html>
